{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row  container m-auto mt-5 d-flex justify-content-around                align-items-start  gap-5">

    <div class="col-sm-12 col-lg-5 ms-5 col-md-5">
        <img style="width: 80%;" class="roket " src="{% static 'images/p.png' %}" alt="rocket">
    </div>
    <div class="col-sm-12 col-lg-5 ms-5 col-md-5 ">
        <h1>About Us </h1>
        <p>Backend Developer & <span class="text-danger">Django</span></p>
        <p>            
            Welcome to my coding corner! I'm Robiul islam siyam , a passionate backend Django developer dedicated to building robust and scalable web applications. With a keen eye for detail and a love for problem-solving, I thrive on turning complex ideas into elegant, efficient, and functional solutions.
            
            
           </p>

    </div>
</div>

{% endblock %}